* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

header {
  text-align: center;
  margin: 0 auto;
  max-width: 200px;
}

.prev-button, .next-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.prev-button {
  float: left;
}

.next-button {
  float: right;
}

.search-results .video-result {
  width: 33%;
  float: left;
  padding: 10px;
}

.video-result img {
  width: 100%;
  max-width: 600px;
}